@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('//fonts.googleapis.com/css?family=Bungee Hairline&subset=latin');
/* Import Bulma Utilities */
$grey-darker:  hsl(0, 0%, 10%) !default;
$grey-dark: hsl(0, 0%, 20%) !default;
$blue: #0051a8;
$primary: $blue;
$size1: 10vmin;
$size2: 7vmin;
$size3: 3vmin;
$body-line-height: 1.5;

@import '~bulma/bulma';

html, body {
    font-family: 'Nixie One', sans-serif;
    font-size: 2vmin;
    @media screen and (max-width: 600px) {
        font-size: 4vmin;
    }
}
html {
    overflow-x: hidden;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
#bottom {
    margin-bottom: -80px;
}
p {
    margin-bottom: 2vw;
}
h1, h2, h3, h4, h1.title, nav a, .button {
    font-family: 'Nixie One', sans-serif;
    // font-weight: bold;
    text-transform: uppercase;
    line-height: $body-line-height * .7;
    font-weight: bold;
}
h1, .title, title, .title.is-1 {
    font-size: $size1;
    font-weight: bold;
}
h2, .content h2 {
    font-size: $size2;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
a.button {
    text-decoration: none;
    &.is-primary {
        font-size: 2vh;
    }
}
.bg-dark {
    background: $grey-darker;
    color: #fefefe;
    p, h1, h2, h3 {
        color: #fefefe;
    }
    a {
        color: #3898FF;
    }
}
.bg-black { 
    background: black;
    color: #fefefe;
    a {
        color: #3898FF;
    }
}
img {
    max-width: 100%;
}
// Page transitions
.page-enter-active,
.page-leave-active {
    transition: opacity 0.3s ease-in-out;
}
.page-enter, 
.page-leave-to {
  opacity: 0;
}
section {
    padding: 100px 0px;
}