@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
/* Import Bulma Utilities */
$grey-darker:  hsl(0, 0%, 10%) !default;
$grey-dark: hsl(0, 0%, 20%) !default;
$blue: #0051a8;
$primary: $blue;
@import '~bulma/bulma';

html, body {
    overflow-x: hidden;
}
body {
    padding-top: 50px; //ensures room for content with sticky navbar
}
h1, h2, h3, a {
    font-family: 'Merriweather', serif !important;
}
h1 {
    font-size: 1.6rem;
}
a.button {
    text-decoration: none;
}
.bg-black a {
    color: #3898FF;
}
img {
    max-width: 100%;
}
.navbar {
    top: 0;
}
// Page transitions
.page-enter-active,
.page-leave-active {
    transition: opacity 0.3s ease-in-out;
}
.page-enter, 
.page-leave-to {
  opacity: 0;
}